body {
    width: 100%;
    margin: 0px;
    height: 100vh;
    color: white;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(231, 227, 227);
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.header {
    background-color: #f5ba13;
    display: flex;
    flex-direction: row;
    width: 100%;
    top: 0;
    position: sticky;
    justify-content: flex-start;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

h1 {
    margin: 0px;
    padding: 0px;
}

.header-title {
    margin-left: 1vw;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 5vh;
    align-items: start;
    justify-content: start;
}

.noteContainer {
    background-color: white;
    display: flex;
    max-width: 25vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 3px 3px 8px -6px rgba(150,128,150,1);
    color: black;
    border-radius: 5px;
    border: 1px solid rgb(235, 232, 232);
    padding: 10px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 3vh;
    overflow-wrap: break-word;
}

.noteTitle {
    text-emphasis: bold;
    font-size: 1rem;
    padding-right: 25px;
    max-width: 100%;
}

.noteContent {
    text-emphasis: none;
    margin-top: 0px;
    padding-right: 25px;
    font-size: 1rem;
    max-width: 100%;
}

footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
}

.delete-note {
    background-color: white;
    border-style: none;
    color: #f5ba13;
    margin-left: auto;
    font-size: 0.7rem;
    margin-right: 0px;
}

.form {
    background-color: white;
    display: flex;
    width: 25vw;
    height: 15vh;
    flex-direction: column;
    box-shadow: 3px 3px 8px -6px rgba(150,128,150,1);
    color: black;
    border-radius: 5px;
    border: 1px solid rgb(235, 232, 232);
    padding: 10px;
    margin-bottom: 3vh;
    overflow-wrap: break-word;
    margin-top: 3vh;
}

.add-note {
    color: #f5ba13;
    background-color: white;
    border-style: none;
    align-self: flex-end;
    margin-top: auto;
}

.add-note:focus {
    outline: none;
}

input[type="text"] {
    width: 100%;
    border-style: none;
}

.add-title {
    font-weight: bold;
    max-width: 100%;
}

input[type="text"]:focus {
    outline: none;
}